<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>cuongnc.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>cuongnc.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>cuongnc.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminController</servlet-name>
        <servlet-class>cuongnc.controllers.LoadAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserController</servlet-name>
        <servlet-class>cuongnc.controllers.LoadUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>cuongnc.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>cuongnc.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>cuongnc.controllers.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>cuongnc.controllers.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminController</servlet-name>
        <url-pattern>/LoadAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserController</servlet-name>
        <url-pattern>/LoadUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoadUserController</welcome-file>
    </welcome-file-list>
</web-app>
